html {
  background-image: url('../images/bg.png');
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
button,
input,
textarea,
select {
  font-family: sans-serif;
}

button {
  cursor: pointer;
}
