html {
  background-image: url('../images/bg.png');
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
button,
input,
textarea,
select {
  font-family: sans-serif;
}

button {
  cursor: pointer;
}

/* Pikaday theme begin */

.pika-single.xo {
  /* importance is necessary here because datePicker.show() sets it to “static” */
  position: absolute !important;
  display: inline-block;
  margin-top: 22px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.xo .pika-button:hover,
.xo .is-selected .pika-button {
  background: #333;
  border-radius: 0;
}

.xo .pika-lendar {
  width: 190px;
}

.xo .is-today .pika-button {
  color: black;
}

.xo .is-today .pika-button:hover,
.xo .is-selected .pika-button {
  color: white;
}

/* Pikaday theme end */
