doctype html
html
	head
		link(rel="stylesheet", href="css/style.css")

	body
		#ui

		script(src="react.js")
		script(src="moment.js")
		script(src="tape.js")
		script(src="lodash.js")

		script(src="pikaday.js")
		link(rel="stylesheet", href="css/pikaday.css")

		each file in files.sort(keepingAtTop(['app/main.js', 'app/UI.js']))
			script(src=file)
